/* Header Section Styles */
header{
    background-color:rgba(255, 144, 14, 0.1);
}
nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: 1250px;
    padding: auto;     
}

.company-name{
    color: #131313;
    font-size: 30px;
}
.list-item ul{
    display: flex;
    list-style: none;
    gap: 30px;
    color: #424242;
    font-size: 18px;
    margin-top: 30px;
    /* margin-left: 1240px; */
} 
.header{
    margin-top: 100px;
    text-align: center;
}
.header-container{
    text-align: center;
    /* height: 225px;
    width: 862px; */
}
.header-tittle{
    font-size: 60px;
}
.header-description{
    font-size: 16px;
    color: #727272;
}
.button{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    background-color: orange;
    border-radius: 5px;
}
.banner-img{
    height: 650px;
    width: 1340px;
    border-radius: 8px;
    margin-top: 30px;
}
/* fetures section */
.all-pictures-section{
    margin-top: 65px;
}
.pictures-container {
    display: flex;
    /* max-width: 1250px;
    margin-top: 0 auto;
    width: 100%; */
    padding-left: 230px;
}
.pictures{
    width: 242px;
    height: 242px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    border-radius: 7px;
}
.feature-description{
    margin-top: 260px;
    padding-left: 600px;
}
.feature-title{
    font-size: 30px;
}
#part-one {
    color: #727272;
    font-weight: 500;
}
#part-two {
    color: #FF900E;
}
/* section 2 */
.onlyfor-padding{
    padding-left: 20px;
}
.section-font-size{
    font-size: 20px;
    margin-top: 80px;
}
.feature-section-two{
    margin-top: 350px;
    padding-left: 230px;
}
.feature-img{
    position: absolute;
    left: 880px;
    top: 2000px;  
}
.regulation{
    width: 800px;
    height: 950px;
    margin-top: 90px;
}
.button-experience{
    font-size: 45px;
    color: white;
    margin-top: -200px;
    position: absolute;
    width: 250px;
    height: 150px;
    left: 850px;
    top: 3104px;
    background: #FF900E;
    border-radius: 8px;
}
/* section 4 css */
.some-fact{
    padding: 240px;
    margin-top: -100px;
}
.fact-title{
    font-size: 40px;
}
.fact-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.fact-container ul{
    list-style: none;
}
.fact-container {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    width: 240px;
    padding: 45px 35px 60px;
}
/* section 5 css */
.sponspors-title{
    font-size: 50px;
    text-align: center;
}
.descrioption{
    font-size: 20px;
    margin-top: -30px;
    color: #727272;;
    text-align: center;
}
.sponspors{
    margin-top: -150px;
}
.sponspors-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 30px; */
}

